
<!DOCTYPE html>

<html>
	<head>
    	<title></title>
      	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  	</head>
  	<body>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h2>
						<a href="/">Amazing news</a>
					</h2>
					<ul class="nav nav-tabs">
						<li>
							<a href="articles_nz">NZ</a>
						</li>
						<li>
							<a href="articles_international">International</a>
						</li>
						<li>
							<a href="articles_tech">Tech</a>
						</li>
						<li>
							<a href="articles_sport">Sport</a>
						</li>
						<li><a href={% url 'article_new' %}>Add Article</a></li>
					</ul>
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>